@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Nourd";
  src: url("/assets/Nourd/nourd_regular.ttf");
}

@font-face {
  font-family: "Nourd Bold";
  src: url("/assets/Nourd/nourd_bold.ttf");
}

@font-face {
  font-family: "Agrandir";
  src: url("/assets/Agrandir/Agrandir-GrandHeavy.otf");
}

@font-face {
  font-family: "Migra";
  src: url("/assets/Migra/MigraItalic-ExtraboldItalic.ttf");
}

@font-face {
  font-family: "Migra Extrabold";
  src: url("/assets/Migra/Migra-Extrabold.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: rgb(245, 158, 11, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 158, 11, 0.8);
}

/* Smooth image loading */
img {
  transition: opacity 0.3s ease-in-out;
}

img.loading {
  opacity: 0;
}

img.loaded {
  opacity: 1;
}

/* Add to your globals.css */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Noise texture */
.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}